.Type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: calc(100% - 40px);
  border: 1px solid black;
  margin-bottom: 20px;

  & > h1 {
    background: #f61b1d;
    flex-grow: 1;
    padding: 20px;
    color: #eee;
  }

  & > div {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;

    & > div:first-child {
      width: 120px;
    }

    & > div:last-child {
      flex-grow: 1;
      display: flex;
      flex-wrap:wrap;

      & > span {
        flex-basis: 100px;
        text-align: center;
      }
    }
  }
}
