.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 80%;

  & > input {
    height: 50px;
    width: 100%;
    font-size: 20px;
    padding: 0 10px;
  }
}
